<head><title>COVID-19 air quality guidance</title></head>

<body>
<h2>Draft - Do Not Use</h2>
This document is a working draft and its recommendations should not be
used until they have gone through further review.

<h1>Why worry about air quality?</h1>
Covid-19, like all respiratory viruses, spreads through three main
methods: surfaces, large droplets, and small droplets. Large droplets
are the reason for the 6' guidance. They carry large amounts of virus
but are too large to float in the air so they fall to the ground
rapidly. They are also called "ballistic droplets" because they fly through the air like a cannon ball.
 Small droplets (also called "aerosols") can stay in the air
for hours and can float long distances.  To picture this, think about dust dancing in a beam of light. They are believed to be
responsible for super-spreader events such as <a href="https://www.cdc.gov/mmwr/volumes/69/wr/mm6919e6.htm">Skagit County choir</a>, and there
is <a href="https://tinyurl.com/aerosol-pros-cons">some evidence</a> that they are in fact the main way that covid is
spread. Regardless of their relative importance, surfaces can be controlled by hygiene measures, ballistic droplets by masks and distances, and so aerosols are the remaining key challenge.

To control aerosols, one can:
<ul>
  <li><b> Wear high-quality masks.</b> A simple cotton mask will do
  well against large droplets but 50% or more of small droplets will
  pass through most cloth masks.  Better options include a cotton mask
  with a hydrophobic filter, a surgical mask with some way of
  enhancing fit such as wearing a tight cloth mask over it or a
  KF94/KN95/N95 mask. <i>to-do: link to mask guidance</i>
  <li><b> Keep distance outdoors and indoors.</b> Aerosols travel far more than 6
  feet but are dispersed by distance.
  <li><b> Ventilate and filter indoors.</b> The subject of this document.
  </ul>

This page is focused on improving safety in buildings, but aerosols
  have a few important implications for other areas.
  <ul>
    <li><b>Cars.</b> The small volume means that aerosols can build up
  to high concentrations. Keeping the windows open even a small amount
  can help this.  The plexiglass separators in taxis will stop large
    droplets but will not making much difference to small droplets.
    <li><b>Plexiglass.</b> Plexiglass dividers will stop large
  droplets and will slow but not stop
  small droplets.  This can be helpful if one person is, say, in a
  kiosk, and the other person is outdoors.  Plexiglass dividers
  between two people sitting indoors will stop one from coughing on
  another but will not prevent aerosol transmission between them, and
  in some cases can slow the mixing of room air which can prevent
  ventilation systems from cleaning the air.
  </ul>

  <h1>How to estimate aerosol risk</h1>
  Explain how to use a risk calculator.  Here are three: <a
  href="https://indoor-covid-safety.herokuapp.com/ ">1</a>,
  <A href="https://tinyurl.com/covid-estimator">2</a>,
    <a href="https://www.mpic.de/4747361/risk-calculator?en">3</a>.
The amount of virus exhaled by different people varies dramatically which means that any calculator or ventilation guidelines will only reduce and not eliminate risk.

<h1> Terminology</h1>
<ul>
  <li>Air changes/hour (ACH)
  <li> cubic feet/minute (CFM)
  <li> clean air delivery rate (CADR)
  </ul>

  <h1>How to reduce aerosol risk</h1>
  <h2>Filter the air</h2>
  You need to filter out particles in the <a href="https://www.medrxiv.org/content/10.1101/2021.01.12.21249603v1">0.25-0.5 micron size</a> (<i>todo: check this more carefully</i>). This
  can be done with a MERV-13 filter or better, although a dusty MERV-9
  will do an ok job too.   From cheapest to most expensive:
  <ul><li>Box fan attached to filter. Really cheap but some assembly
  is required, it can be noisy
  and you have to make sure you don't burn out the fan motor. In
  practice this can be done by monitoring it for an hour to see if you
  smell anything burning; if so, try a lower fan setting. <i>note: check whether increasing air circulation is dangerous</i>
  <img width=400 align=right src="images/fan-with-filter.jpg"><p></li>
    <li>Standalone air purifiers. Most of these have HEPA filters,
  sometimes with a prefilter (to filter out dust and save you money on
  HEPA filters).  You don't want one that makes ions or any other
  gimmicks. The only considerations should be air flow at top speed,
  price (including cost of replacing filters, and electricity cost),
  and noise.  You will be running these at top speed continually and
    some of them can be noisy. <i> note: for these to be most effective, air will have to be well mixed so that these are not re-filtering the same air. see <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4743075/#A018192C49">here</a> and <a href="https://www.tandfonline.com/doi/pdf/10.1080/10473289.1996.10467523">here</a> for discussions of the problem.</i><p>
    <li>HVAC.  You can cheaply upgrade the filter to MERV-13.  Beware
  that you need to make sure your fan can handle it. For that reason
  your HVAC probably shouldn't have a HEPA filter.  A more expensive
    option is to upgrade the fan in the HVAC or set it to run faster. The advantage of the
  HVAC system (if you have one) is that it is the quietest and most
    energy efficient solution. Make sure that the HVAC is set to run constantly and not only when heating/cooling is required. The setting for this may depend on your system.   Below is an example from a residential thermostat.
    <img width=400 align=right src="images/ON-not-AUTO.jpg"><p>
    <li>Open windows. If you put a box fan in a window this can give a
  ton of fresh air. But during the winter your heater may not be able
  to keep up and the cost of this in terms of utility bills makes this
  not cost effective other than as an emergency measure, say if a sick
  kid in a daycare is awaiting pickup.
  </ul>

<h2>Testing air changes</h2>
This is hard to do quantitatively. CO2 monitors can be a good way of checking if enough outside air is coming in but will not be a way to measure how much filtration is happening.

<h2>The floor</h2>
A lot of virus is contained in droplets that fall to the floor.   Large droplets contain more virus and fall to the floor quickly.   This means that inactivating virus on the floor is worthwhile, and that it is bad to do things that stir up dust off the floor.  <i>maybe omit this last line</i>: Also if there is a choice then downward airflow is better than upward airflow.

  <h2>Inactivate the virus</h2>
  <h3>Humidity</h3>
  RH (relative humidity) of 40-60% is ideal. Higher humidity helps in three ways.
  <ol>
    <li>Dry air makes your throat and nose more vulnerable to infection. However, wearing a mask constantly makes this less of a problem.</li>
    <li>Coronaviruses survive longer in dryer air.</li>
    <li>  Droplets evaporate more quickly in dry air, leaving behind lighter droplet nuclei that contain the same amount of virus but can remain suspended in the air for longer.</li>
    </ol>
Above 65% RH is not recommended because it can cause mold growth.

  <h3>UV-C</h3>
  Outdoors the UV from the sun will rapidly inactivate coronavirus during summer months.  Indoors UV can also be useful and safe, but there are enough challenges in doing this effectively that an expert should be consulted.  The FAQ below contains more information.

<h1>More information</h1>
This <a href="https://tinyurl.com/FAQ-aerosols">FAQ</a> on COVID-19 aerosol tranmission is an excellent resource.
</body>
